[Unit]
Description=Rustyjack daemon socket
PartOf=rustyjackd.service

[Socket]
ListenStream=/run/rustyjack/rustyjackd.sock
SocketMode=0660
SocketUser=root
SocketGroup=rustyjack
DirectoryMode=0770
RemoveOnStop=true

[Install]
WantedBy=sockets.target
