# RustyJack USB WiFi Auto-Detection udev Rules
# Place in /etc/udev/rules.d/99-rustyjack-wifi.rules

# Trigger on USB WiFi adapter insertion
# This covers major WiFi chipset vendors

# Realtek WiFi Adapters
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="0bda", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="0bda", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# Ralink/MediaTek WiFi Adapters  
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="148f", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="148f", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# MediaTek (alternate vendor ID)
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="0e8d", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="0e8d", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# Atheros/Qualcomm WiFi Adapters
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="0cf3", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="0cf3", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# TP-Link WiFi Adapters
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="2357", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="2357", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# D-Link WiFi Adapters
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="2001", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="2001", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# Alfa Network WiFi Adapters (uses Realtek/Atheros chipsets)
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="0bda", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"

# NetGear WiFi Adapters
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="0846", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="0846", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# Linksys/Belkin WiFi Adapters
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="13b1", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="13b1", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# ASUS WiFi Adapters
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="0b05", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="0b05", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# Edimax WiFi Adapters
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="7392", RUN+="/usr/local/bin/rustyjack-hotplugd add %k"
SUBSYSTEM=="usb", ACTION=="remove", ATTR{idVendor}=="7392", RUN+="/usr/local/bin/rustyjack-hotplugd remove %k"

# Also trigger on net subsystem for interface creation
SUBSYSTEM=="net", ACTION=="add", KERNEL=="wlan*", RUN+="/usr/local/bin/rustyjack-hotplugd interface_add %k"
